@charset "utf-8";
@import "../../pub/main.scss";
@import "../../fragment/head_foot.scss";
@import "../../fragment/sidebar.scss";
@import "../../fragment/layer.scss";
@import "../../component/btn.scss";
@import "../../../../../basis/widget/shade/shade.scss";
@import "../../../../../basis/widget/alert/alert.scss";
@import "../../../../../basis/widget/pickday/pickday.scss";

.newlyadd{
    .form_wrap{
        padding: 0 10px;
        .head_bar{
            margin: 10px 0;
            padding-bottom: 10px;
            border-bottom: 1px solid #eee;
            overflow: hidden;
            span{
                margin-right: 10px;
            }
            .cancel_btn{
                margin-right: 20px;
            }
        }
        .cell_bar{
            border-bottom: 1px solid #e9e9e9;
            padding: 40px;
            label{
                display: inline-block;
                width: 92px;
                text-align: right;
            }
            span{
                display: inline-block;
            }
            .title{
                color: #c1c1c1;
                font-size: 16px;
                font-weight: bold;
            }
            .input_cell{
                width: 198px;
                height: 38px;
                border: 1px solid #e9e9e9;
                background-color: #F7F7F7;
                text-indent: 10px;
            }
            .select_ipt{
                width: 198px;
                height: 38px;
                border: 1px solid #e9e9e9;
                background-color: #F7F7F7;
            }
            .middle_cell{
                position: relative;
            }
            .right_cell{
                // margin-left: 16%;
                position: relative;
            }
            .wrap_cell{
                margin-top: 26px;
                position: relative;
                .head{
                    color: #494949;
                }
                p{
                    margin-left: 15px;
                    color: #848484;
                }
            }
        }
    }
}
.J-select{
    width: 98px;
    height: 38px;
    border: 1px solid #e9e9e9;
    background-color: #F7F7F7;
}

.tips{
    position: absolute;
    top: 6px;
    background-color: #F8F1F1;
    padding: 4px;
    border-radius: 4px;
}
.tips:after{
      border: solid transparent;
      content: ' ';
      height: 0;
      right: -16px;
      position: absolute;
      width: 0;
      border-width: 8px;
      border-left-color: #F8F1F1;
      top: 6px;
}
.input_hint{
    top: 40px;
}
.add_btn{
    position: absolute;
    right: -40px;
    top: 10px;
    cursor: pointer;
    color: #0e7fdf;
}
.dept__content--edit{
    width: 400px;
    margin: 0 auto;
    .dept__conten--name{
        color: #a9a9a9;
        font-weight: 700;
        margin-bottom: 16px;
    }
    .dept__content--ipt{
        margin-left: 10px;
        width: 280px;
        height: 38px;
        border: 1px solid #EAEAEA;
        background-color: #FAFAFA;
        border-radius: 4px;
        text-indent: 10px;
        color: #545454;
    }
    .dept__conten--sel{
        @extend .dept__content--ipt;
        text-indent: 4px;
    }
}
.exist_hint{
    font-weight: normal;
    position: absolute;
    right: 20px;
    margin-top: 56px;
}