@charset "utf-8";
@import "../../pub/main.scss";
@import "../../fragment/header_footer.scss";
@import "../../../../../basis/widget/alert/alert.scss";

@media screen and (min-width: 960px) and (max-width: 1280px) {
    .grid-1180-radius{
        width: 980px;
    }
}
@media screen and (min-width: 1280px){
    .grid-1180-radius{
        width: 1180px;
    }
}
.grid-1180-radius {
    // width: 1180px;
    margin: 20px auto 60px;
    position: relative;
    border-radius: 5px;
    padding-bottom: 50px;
    background-color: #ffffff;
    overflow: hidden;
    .title {
        font-size: 20px;
        margin:  0px 25px;
        line-height: 75px;
        border-bottom: 1px solid #f8f8f8;
        span {
            color: #0e7fdf;
        }
    }
    .member_contnet {
        text-align: center;
        .stepimg {
            margin: 50px 0px 70px;
        }
        .tips {
            color: #2db537;
            i {
                margin-right: 6px;
                vertical-align: -6px;
            }
        }
        .item_block {
            margin: 0px 0px 20px 20px;
            .item {
                position: relative;
                width: 450px;
                margin: 0 auto 20px;
                text-align: left;
                .ok-s {
                    position: absolute;
                    right: 10px;
                    top: 15px;
                }
                .input_field {
                    width: 420px;
                    display: inline-block;
                    height: 33px;
                    line-height: 47px;
                    padding: 6px 15px;
                    font-size: 14px;
                    background: #f5f5f5;
                    vertical-align: middle;
                    outline: 0;
                    border: none;
                }
                .width_260 {
                    width: 230px;
                }
                .reg-verify {
                    float: right;
                    border:1px solid #e6e6e6;
                    height: 45px;
                    width: 166px;
                    position: relative;
                    cursor: pointer;
                    img {
                        width: 100px;
                        height: 38px;
                        margin: 2px;
                    }
                    span {
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        background: #f7f7f7;
                        font-size: 12px;
                        color: #757575;
                        height: 36px;
                        padding: 7px 14px 0px;
                    }
                }
            }
        }
        .agreement {
            font-size: 12px;
        }
    }
}
.errow_hint {
    background: #ffd7d6;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 10px;
}
.input_hint {
    background: url(/images/app/form.png) no-repeat;
    color: #f20000;
    padding-left: 24px;
    background-position: -139px -198px;
    margin-left: 10px;
    margin-top: 2px;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    z-index: 3;
    font-size: 12px;
}
.login {
    .item {
        position: relative;
        width: 450px;
        margin: 0 auto 20px;
        text-align: left;
        .ok-s {
            position: absolute;
            right: 10px;
            top: 15px;
        }
        .input_field {
            width: 420px;
            display: inline-block;
            height: 33px;
            line-height: 47px;
            padding: 6px 15px;
            font-size: 14px;
            background: #f5f5f5;
            vertical-align: middle;
            outline: 0;
            border: none;
        }
        .width_260 {
            width: 230px;
        }
        .reg-verify {
            float: right;
            border:1px solid #f9f9f9;
            height: 43px;
            width: 166px;
            position: relative;
            cursor: pointer;
            img {
                width: 100px;
                height: 38px;
                margin: 2px;
            }
            span {
                position: absolute;
                right: 0px;
                top: 0px;
                background: #f7f7f7;
                font-size: 12px;
                color: #757575;
                height: 36px;
                padding: 7px 14px 0px;
            }
        }
    }
}

.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after { clear:both; }
.cf { *zoom:1; }