.bank_Cards {
    position: relative;
    width: 268px;
    height: 42px;
    border: 1px solid #C0C0C0;
    border-radius: 2px;
    box-shadow: 0 1px 2px 1px #ECECEC inset;
    display: inline-block;
    vertical-align: middle;
    background: #fff;
    cursor: pointer;
    .bank_logo_span {
        display: block;
        position: relative;
        img {
            margin-top: 4px;
            margin-left: 12px;
        }
        .card_num {
            position: absolute;
            right: 30px;
            top: 10px;
            font-size: 14px;
        }
    }
    .icon-arb {
        position: absolute;
        right: 10px;
        top: 16px;
    }
    .c-disabled {
        line-height: 36px;
        margin: 0 0 0 10px;
        font-size: 15px;
        color: #383838;
        font-weight: bold;
    }
}
.bank_Cards.focus {
    border-color: #039DED;
    box-shadow: 0 0 1px 1px #B4E6FF;
}

.bankcards_list {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #c0c0c0;
    box-shadow: 0 0 3px 1px rgba(0,0,0,0.15);
    width: 266px;
    font-size: 16px;
    overflow: hidden;
    border-radius: 3px;
    background: #fff;
}
.bankcards_list li {
    width: 100%;
    height: 48px;
    margin-bottom: -1px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    position: relative;
}
.bankcards_list li img {
    position: absolute;
    top: 8px;
    left: 10px;
}
.bankcards_list li span{
    position: absolute;
    font-size: 15px;
    color: #444;
    right: 20px;
    top: 13px;
}
.bankcards_list-other_cards {
    line-height: 45px;
    padding-left: 18px;
}