@charset "utf-8";
@import "../../pub/main.scss";
@import "../../fragment/head_foot.scss";
@import "../../fragment/sidebar.scss";
.main {
    min-height: 600px;
}
.task_title {
    font-size: 20px;
    color: #5b636a;
    line-height: 50px;
    padding: 0px 20px;
    border-bottom: 1px solid #f9f9f9;
    margin-bottom: 20px;
    .explain {
        font-size: 12px;
        color: #5c5c5c;
        margin-left: 25px;
        font-weight: normal;
    }
}

.get_link {
    text-align: center;
    margin-bottom: 40px;
    i {
        margin-top: 20px;
    }
    .tips {
        margin: 30px 25px;
    }
}
.btn-1 {
    line-height: 35px;
    width: 260px;
    height: 36px;
    font-size: 14px;
}
.success {
    text-align: center;
    padding: 150px 0px;
    line-height: 35px;
}