@mixin _btn($width,$height,$color,$bgcolor,$bordercolor,$radius,$fontSize) {
    display: inline-block;
    overflow: hidden;
    width: $width;
    height: $height;
    line-height: $height;
    border-width: 1px;
    border-style: solid;
    border-color: $bordercolor;
    border-radius: $radius;
    background-color: $bgcolor;
    color: $color;
    text-align: center;
    font-size: $fontSize;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    @content;
}

@mixin _ipt($width,$height,$color,$bgcolor,$bordercolor,$radius) {
    width: $width;
    height: $height;
    line-height: $height;
    border-width: 1px;
    border-style: solid;
    border-color: $bordercolor;
    border-radius: $radius;
    background-color: $bgcolor;
    color: $color;
    text-indent: 10px;
    font-size: 14px;
}
.ipt{
    @include _ipt(264px,38px,#666,transparent,#CCCCCC,0);
}
.btn{
    @include _btn(118px,34px,#3B9CF2,transparent,#3B9CF2,4px,14px);
    &:hover{
        background-color: #007CDE;
        border: 1px solid #007CDE;
        color: #fff;
    }
}
.btn-hollow{
    @include _btn(118px,34px,#666666,transparent,#b9b9b9,4px,14px);
    &:hover{
        border: 1px solid #1C81DC;
        color: #1C81DC;
    }
}
.btn-hollow_blue{
    @include _btn(118px,34px,#41a6fc,transparent,#41a6fc,4px,14px);
    &:hover{
        background-color: #007CDE;
        border: 1px solid #007CDE;
        color: #fff;
    }
}
.btn-gray{
    @include _btn(78px,34px,#999,#F2F4F5,#E8E9EB,4px,14px);
}
.ipt-m{
    width: 148px;
}
.btn-primary{
    background-color: #0997F4;
    color: #fff;
    border: 1px solid #0997F4;
}
.btn-orange{
    background-color: #FEC33B;
    color: #fff;
    border: 1px solid #FEC33B;
    &:hover{
        background-color: #FDA438;
        border: 1px solid #FDA438;
    }
}
.btn-green{
    background-color: #3DD295;
    color: #fff;
    border: 1px solid #3DD295;
    &:hover{
        background-color: #32C26F;
        border: 1px solid #32C26F;
    }
}
.btn-disabled{
    background-color: #ccc;
    color: #fff;
    border: 1px solid #ccc;
    &:hover{
        background-color: #ccc;
        border: 1px solid #ccc;
    }
}
.btn-xxl{
    width: 450px;
    height: 42px;
    line-height: 44px;
    font-size: 16px;
}
.btn-xl{
    width: 258px;
    height: 38px;
    line-height: 40px;
}
.btn-l{
    width: 148px;
    height: 42px;
    line-height: 42px;
}
.btn-s{
    width: 78px;
    height: 34px;
    line-height: 34px;
}
