@charset "utf-8";
@import "../../pub/main.scss";
@import "../../fragment/head_foot.scss";
@import "../../fragment/sidebar.scss";
@import "../../component/btn.scss";
@import "../../fragment/layer.scss";
@import "../../../../../basis/widget/shade/shade.scss";


.bigsuccess_icon{
    display: inline-block;
    vertical-align: middle;
    width: 54px;
    height: 54px;
    background: url('/images/app/cube_icon.png') no-repeat -524px -332px;
}
.result{
    .content{
        margin: 40px auto;
        width: 230px;
        span{
            font-weight: bold;
            margin-right: 20px;
            line-height: 30px;
        }
        .title{
            color: #20C70C;
            font-weight: bold;
            font-size: 18px;
        }
        .btn_bar{
            margin-top: 30px;
        }
    }
}