.morris-hover{
    position:absolute;
    z-index:99;
}
.morris-hover.morris-default-style{
    border-radius:10px;
    padding:6px;
    color:#666;
    // background:rgba(255,255,255,0.8);
    // background-color: #E0EFFC;
    background: url('/images/app/bg.png')no-repeat;
    width: 54px;
    height: 80px;
    // font-family:sans-serif;
    font-size:14px;
    text-align:center
}
.morris-hover.morris-default-style .morris-hover-row-label{
    font-weight:bold;margin:0.25em 0
}
.morris-hover.morris-default-style .morris-hover-point{
    white-space:nowrap;margin:0.1em 0
}
text{
    font-family: 'Helvetica Neue','Hiragino Sans GB','Microsoft YaHei','WenQuanYi Micro Hei',sans-serif;
}
circle{//area远点的边框宽度
  stroke-width:2
}
path{
    // fill: #fff;
    // fill-opacity: 0.3;
}